<section>
    <div class="max-w-6xl mx-auto  md:pl-[68px] px-5 py-8">
        <div class="mf-[300px]">
            <p class="text-5xl text-left pl-[44px] ">Blog</p>
        </div>
    </div>
</section>
<section class="md:pl-[100px]">
    <div class="max-w-6xl mx-auto px-5   ">
        <div class="grid grid-cols-3 ">
            <div class="col-span-3 text-left border-b py-8">
                <h3 class="mb-5">
                    <a href="" class="text-2xl font-bold">
                        UI Interactions of the week
                    </a>
                </h3>
                <div class="flex space-x-8 text-[#8695A4] mb-5">
                    <span>12 Feb 2019</span>
                    <span>|</span>
                    <span>Express, Handlebars</span>
                </div>
                <p class="font-bold">
                    Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia <br> consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
                </p>
            </div>
            <!-- end -->
            <div class="col-span-3 text-left border-b py-8">
                <h3 class="mb-5">
                    <a href="" class="text-2xl font-bold">
                        UI Interactions of the week
                    </a>
                </h3>
                <div class="flex space-x-8 text-[#8695A4] mb-5">
                    <span>12 Feb 2019</span>
                    <span>|</span>
                    <span>Express, Handlebars</span>
                </div>
                <p class="font-bold">
                    Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia <br> consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
                </p>
            </div>
            <div class="col-span-3 text-left border-b py-8">
                <h3 class="mb-5">
                    <a href="" class="text-2xl font-bold">
                        UI Interactions of the week
                    </a>
                </h3>
                <div class="flex space-x-8 text-[#8695A4] mb-5">
                    <span>12 Feb 2019</span>
                    <span>|</span>
                    <span>Express, Handlebars</span>
                </div>
                <p class="font-bold">
                    Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia <br> consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
                </p>
            </div>
        </div>
    </div>
</section>
<footer>
    <div class="max-w-6xl mx-auto px-5 mt-[50px] ">
        <div class="text-center text-[30px] py-5 ">
            <span class="px-3"><a href="https://www.facebook.com/Toaicuteehihi/"><i class="fa-brands fa-facebook"></i></a></span>
            <span class="px-3"><a href="https://www.instagram.com/_toaiinee/"><i class="fa-brands fa-instagram"></i></a></span>
            <span class="px-3"><a href="https://github.com/toainee123/"><i class="fa-brands fa-github"></i></a></span>
            <span class="px-3"><a href=""><i class="fa-brands fa-linkedin"></i></a></span>
        </div>
        <p class="text-center text-[#21243D]">Copyright ©2020 All rights reserved </p>
    </div>
</footer>