    <section class="info py-10 ">
        <div class="max-w-6xl mx-auto px-5">
            <div class="grid md:grid-cols-3">
                <div class="  md:col-span-2 order-1 md:order-2 ">
                    <h2 class="text-5xl font-bold leading-[60px]">
                        Hi,I am Toai,<br />
                        Font-end Developer
                    </h2>
                    <p class="text-base py-5">
                        Mình khum bíc viết gì hếc
                    </p>
                    <a href="" class="inline-block bg-red-500 rounded-sm md:py-5 md:px-10">Download Resume </a>
                </div>
                <div class="md:col-span-1 order-2 md:order-1 ">
                    <img src="https://scontent.fhan2-4.fna.fbcdn.net/v/t39.30808-6/285252372_1716682515347692_679489938472360147_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=SaivzflOjMoAX-feQgi&_nc_ht=scontent.fhan2-4.fna&oh=00_AT_Co4qV5mxzpCLGzpA_W-F0y7I0ZsClKx6vgwI-6Rfxvw&oe=62AB07FC" alt="" class="rounded-full mx-auto md:mr-0 md:ml-auto" width="243px" height="243px">
                </div>
            </div>
        </div>
    </section>
    
    <section>
        <div class="recents posts bg-[#EDF7FA] py-10">
            <div class="max-w-6xl mx-auto px-5  ">
                <div class="flex justify-between py-5">
                    <h2 class="text-[22px]">Recents posts</h2>
                    <a href="" class="color-[#00A8CC]">View all</a>
                </div>
                <div class="grid md:grid-cols-2 gap-8">
                    <div class="bg-white px-5 py-8   ">
                        <h3 class="mb-5">
                            <a href="" class="text-2xl font-bold">
                                Making a design system from scratch
                            </a>
                        </h3>
                        <div class="flex space-x-8 text-[#21243D] mb-5">
                            <span>12 Feb 2020</span>
                            <span>|</span>
                            <span>Design, Pattern</span>
                        </div>
                        <p>
                            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
                        </p>
                    </div>
                    <div class="bg-white px-5 py-8   ">
                        <h3 class="mb-5">
                            <a href="" class="text-2xl font-bold">
                                Creating pixel perfect icons in Figma
                            </a>
                        </h3>
                        <div class="flex space-x-8 text-[#21243D] mb-5">
                            <span>12 Feb 2020</span>
                            <span>|</span>
                            <span>Figma, Icon Design</span>
                        </div>
                        <p>
                            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section>
        <div class="info">
            <div class="max-w-6xl mx-auto px-5">
                <div class="flex justify-between py-5">
                     <h2 class="text-2xl font-bold ">Feature Projects</h2>
                </div>
                <div class="grid md:grid-cols-[246px,auto] gap-8 border-b py-8">
                    <div>
                           <img class="rounded-sm w-full" src="https://picsum.photos/246/246" alt=""/>
                    </div>
                    <div>
                        <h3 >
                            <a  href=""class="text-[#21243D] text-[30px] font-bold">Designing Dashboards</a>
                        </h3>
                        <div class="flex space-x-4 items-center py-5">
                            <span class="inline-block bg-[#142850] py-1 px-2 font-bold text-white rounded-full">2020</span>
                            <span class="text-[#8695A4]">Dashboard</span>
                        </div>
                        <p class="text-[#21243D]">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
                    </div>
                </div>
                <!-- end Project -->
                <div class="sm:grid md:grid-cols-[246px,auto] gap-8 border-b py-8 ">
                    <div>
                           <img class="rounded-sm w-full" src="https://picsum.photos/246/246" alt=""/>
                    </div>
                    <div>
                        <h3 >
                            <a  href=""class="text-[#21243D] text-[30px] font-bold">Designing Dashboards</a>
                        </h3>
                        <div class="flex space-x-4 items-center py-5">
                            <span class="inline-block bg-[#142850] py-1 px-2 font-bold text-white rounded-full">2020</span>
                            <span class="text-[#8695A4]">Dashboard</span>
                        </div>
                        <p class="text-[#21243D]">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
                    </div>
                </div>
                <!-- end Project -->
            </div>    
        </div>
    </section>
    <section>
        <div class="feature-project">
            <div class="max-w-6xl mx-auto px-5">

            </div>
        </div>
    </section>
    <footer>
        <div class="max-w-6xl mx-auto px-5 mt-[50px] ">
            <div class="text-center text-[30px] py-5 ">
                <span class="px-3"><a href="https://www.facebook.com/Toaicuteehihi/"><i class="fa-brands fa-facebook"></i></a></span>
                <span class="px-3"><a href="https://www.instagram.com/_toaiinee/"><i class="fa-brands fa-instagram"></i></a></span>
                <span class="px-3"><a href=""><i class="fa-brands fa-github"></i></a></span>
                <span class="px-3"><a href=""><i class="fa-brands fa-linkedin"></i></a></span>
            </div>
            <p class="text-center text-[#21243D]">Copyright ©2020 All rights reserved </p>
        </div>
    </footer>

