<section>
    <div class="max-w-6xl mx-auto  md:pl-[68px] px-5 py-8">
        <div class="mf-[300px]">
            <p class="text-5xl text-left font-bold ">Work</p>
        </div>
    </div>
</section>
<section>
    <div class="info">
        <div class="max-w-6xl mx-auto px-5">
            <div class="md:ml-[52px] grid md:grid-cols-[246px,auto] gap-8 border-b py-8">
                <div>
                       <img class="rounded-sm w-full" src="./img/Rectangle 30.jpg" alt=""/>
                </div>
                <div>
                    <h3 >
                        <a  href=""class="text-[#21243D] text-[30px] font-bold">Designing Dashboards</a>
                    </h3>
                    <div class="flex space-x-4 items-center py-5">
                        <span class="inline-block bg-[#142850] py-1 px-2 font-bold text-white rounded-full">2020</span>
                        <span class="text-[#8695A4]">Dashboard</span>
                    </div>
                    <p class="text-[#21243D]">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
                </div>
            </div>
            <!-- end Project -->
            <div class="md:ml-[52px] grid md:grid-cols-[246px,auto] gap-8 border-b py-8 ">
                <div>
                       <img class="rounded-sm w-full" src="/img/Rectangle 32.png" alt=""/>
                </div>
                <div>
                    <h3 >
                        <a  href=""class="text-[#21243D] text-[30px] font-bold">Designing Dashboards</a>
                    </h3>
                    <div class="flex space-x-4 items-center py-5">
                        <span class="inline-block bg-[#142850] py-1 px-2 font-bold text-white rounded-full">2020</span>
                        <span class="text-[#8695A4]">Dashboard</span>
                    </div>
                    <p class="text-[#21243D]">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
                </div>
            </div>
            <!-- end Project -->
        </div>    
    </div>
</section>
<footer>
    <div class="max-w-6xl mx-auto px-5 mt-[50px] ">
        <div class="text-center text-[30px] py-5 ">
            <span class="px-3"><a href="https://www.facebook.com/Toaicuteehihi/"><i class="fa-brands fa-facebook"></i></a></span>
            <span class="px-3"><a href="https://www.instagram.com/_toaiinee/"><i class="fa-brands fa-instagram"></i></a></span>
            <span class="px-3"><a href="https://github.com/toainee123/"><i class="fa-brands fa-github"></i></a></span>
            <span class="px-3"><a href=""><i class="fa-brands fa-linkedin"></i></a></span>
        </div>
        <p class="text-center text-[#21243D]">Copyright ©2020 All rights reserved </p>
    </div>
</footer>